{% extends 'base.html'%}
{% block mycontent %}


<div class="container">
        <div class="row">
           <div class="col col-12 col-sm-6 col-md-4">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sed consectetur aut saepe officiis assumenda perferendis dolor officia optio ipsa repudiandae magni maiores, libero corrupti voluptas asperiores harum quos vel!
   
           </div>
   
           <div class="col col-12 col-sm-6 col-md-8">
                   <table class="table">
                           <tr>
                               <td>student name</td>
                               <td><input type="text" class="form-control"></td>
                           </tr>
                           <tr>
                               <td>rollno</td>
                               <td><input type="text" class="form-control"></td>
                           </tr>
                           <tr>
                               <td>Admission number</td>
                               <td><input type="text" class="form-control"></td>
                           </tr>
                           <tr>
                               <td></td>
                               <td><Button class="btn btn-primary">submit</Button></td>
                           </tr>
                       </table>
           </div>
   
        </div>
   
       </div>
       

{% endblock %}
